body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/poney1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    backdrop-filter: blur(8px);
}



table {
    background-color: #fff;
    border-collapse: collapse;
}

.cours{
    background-color: orange;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tdsem,.trsem{
    border: none;
}
.tdsem {
    width: 200px;
    height: 50px;
}

.thsem{
    background-color: orange;
}