body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/poney1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    backdrop-filter: blur(8px);
}

.thmois,.thtitre{
    background-color: orange;
}

.thtitre{
    display: flex;
}

.jourMois {
    color: black;
    text-decoration: none;
}