
.sidebar {
    position: sticky; /* Fixe la barre latérale */
    top: 0;
    left: 0;
    width: 15%; /* Largeur fixe pour la barre latérale */
    height: 100vh; /* Prend toute la hauteur de la page */
    background: rgba(0, 0, 0, 0.9); /* Fond légèrement transparent */
    padding: 20px;
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    z-index: 10; /* Place la barre latérale au-dessus des autres éléments */
}



.sidebar .logo img {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar .admin-info {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.sidebar nav ul li.logout {
    color: red;
}

.admin-info h2, .admin-info p {
    color: white;
}