body {
    display: flex;
}
main{
    margin: 10px;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Container Styling */
.content {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Title Styling */
.content h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #f1c40f;
    display: inline-block;
    padding-bottom: 5px;
}

.content h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
}

/* List Styling */
.content ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.content ul li {
    font-size: 14px;
    color: #444444;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
}

/* Link Styling */
.content a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.content a:hover {
    background-color: #2980b9;
}
